* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-player {
  margin-top: 100px;
  background-color: #2a2141;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.conteudo p {
  font-size: 2.3rem;
  font-family: Roboto;
}

.conteudo span {
  font-size: 1;
  font-family: Roboto;
}

.Controles {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Container-progresso input {
  width: 100%;
}

.tempo-musica {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}
